.header-wrapper {
  width: 100%;
  height: 80px;
  background-color: #ff4040;
  position: relative;
  z-index: 99999;
  paddin
  .header-main {
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: relative;
    z-index: 99;
  }
}