.plofile-wrapper {  
  .plofile-members {
    fon
  }
  .plofiles {
    .plofile-image {
      img {
        border-radius: 50%;
      }
    }
    .plofile-name {
    }
    .plofile-links { 
      .twitter-icon {
        width: 100px;
        height: 100px;
        color:rgb(0, 162, 255);
      }
    }
  }
}