.plofile-wrapper {  
  width: 100vw;
  height: 100vh;
  background-image: url(image/pattern_48.jp);
  background-size:cover;
  .plofile-members {
    font-family: 'ヒラギノ角ゴ StdN W8';
    color: white;
  }
  .plofiles {
    .plofile-image {
      img {
        border-radius: 50%;
      }
    }
    .plofile-name {
    }
    .plofile-links { 
      .twitter-icon {
        width: 100px;
        height: 100px;
        color:rgb(0, 162, 255);
      }
    }
  }
}