.plofile-wrapper 
  .plofile-members
    メンバー
  .plofiles
    .plofile-name
      井上翔貴
    .plofile-image
      = image_tag "b12df0cccd027f2ee3d6acb923a02d4d.jpg", size: "100x100"
    .plofile-links
      = link_to "https://www.instagram.com/kesuke_hondagg/?hl=ja" do
        %i.
